

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100vw;
}

main {
    padding-top: 100px;
    position: relative;
    z-index: 0;
    font-size: 1.1rem;
    font-family: "IBM Plex Serif", "Times New Roman", serif;
    font-weight: 300;
    font-style: normal;
}

h1, h2 {
    font-family: "Merriweather", "Times New Roman", serif;
}

h1 {
    text-align: center;
}

/* Header */

.blank-space {
    display: flex;
    width: 100vw;
    height: 30px;
}

header {
    display: flex;
    position: fixed;
    width: 100vw;
    z-index: 1;   
    border-width: 1px;
    background: white;
    font-family: "Merriweather", "Times New Roman", serif;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav-ul {
    display: flex;
    padding-inline-start: 0px;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    border-style: solid;
}

nav ul {
    list-style-type: none;
    margin-right: 10px;
}

nav ul li {
    padding-left: 5px;
    padding-right: 5px;
}

nav a {
    color: black;
    text-decoration: none;
}

.nav-logo {
    width: 200px;
    height: auto;
}

.logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-icon {
    width: 20px;
    height: 20px;
}

.hidden {
    display: none;
}

#search {
    padding: 20px 40px 20px 40px;
    border-bottom: solid;
}

.search-input {
    border-bottom: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 0px;
    width: 500px;
    outline: none;
    transition: padding-bottom 0.3s ease;
}

.search-input:focus {
    padding-bottom: 10px;
}

.search-input-filled {
    padding-bottom: 10px;
}

.search-button {
    border-style: none;
    font-family: "Merriweather", "Times New Roman", serif;
    font-size: 1rem;
    background-color: white;

}

/* Footer */
footer {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-family: "Merriweather", "Times New Roman", serif;
    font-size: 0.8rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.address span {
    padding-top: 3px;
    padding-bottom: 3px;
}

.address, .policies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: 20px;
}

.policies a {
    color: black;
    padding-top: 6px;
    padding-bottom: 6px;
}

.logos {
    margin-top: 20px;
}
.logos img {
    width: 266px;
    height: auto;
}

.copyright {
    margin-block-start: 2px;
    margin-block-end: 2px;
}

/* Home */

.hero-section-logo {
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.home-h1 {
    text-align: center;
}

.home-page {
    display: flex;
    flex-direction: column;
}

.home-page .overview, .home-page .history, .home-page .funding {
    display: flex;
    flex-direction: row;
}


section .images {
    display: flex;
    justify-content: center;
    width: 45%;

}

section .text-left {
    margin: 20px 40px 20px 60px;
    text-align: justify;
    width: 45%;

}

section .text-right {
    margin: 10px 60px 10px 40px;
    text-align: justify;
    width: 45%;
}

.image-placeholder {
    border-style: solid;
    width: 400px;
    height: 300px;
    margin-top: 30px
}

.image-placeholder-history {
    border-style: solid;
    width: 400px;
    height: 500px;
    margin-top: 30px
}

.image-placeholder p {
    text-align: center;
}

.history {
    align-self: flex-end;
}

.further-info {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-self: center;
}

.further-info p {
    text-align: center;
    margin-top: 10px;
}

.further-info-h2 {
    text-align: center;
    margin-bottom: 10px;
}

.feet-image-container {
    display: flex;
    flex-wrap: nowrap; 
    gap: 10px; 
    width: 100%; 
    overflow: hidden; 
}

.green-feet {
    width: 465px;
    height: auto; 
    opacity: 25%;
}


/* User Guides */

.user-guides-header {
    position: fixed;
    width: 100vw;
    z-index: 1;   
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background: white;
    padding-top: 20px;
    padding-bottom: 30px;
}

#user-guides-intro {
    margin-top: 170px;
}

.scroll-target {
    scroll-margin-top: 260px;
}

.bolder-font {
    font-weight: 400;
}

.user-guides-h1 {
    margin-bottom: 10px;
}

#user-guides-intro, #put-on, #take-off, #videos {
    margin-left: 70px;
    margin-right: 70px;
}

.user-guides-nav {
    margin: 0 auto;
    font-style: italic;
}

.user-guides-nav li {
    padding-left: 10px;
    padding-right: 10px;
}

.instructions-list {
    margin: auto;
    max-width: 900px;

}

.instruction {
    display: inline-block;
    margin: 20px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.instruction-image {
    border-style: solid;
    padding: 8px;
    max-width: 300px;
    max-height: 300px;
}

.put-on-1 {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 400px;
}

.put-on-2 {
    padding-bottom: 22px;
    padding-top: 22px;
}

.put-on-3 {
    max-width: 433px;
    max-height: 300px;
    padding-right: 30px;
}

.put-on-4 {
    padding-left: 30px;
    padding-right: 30px;
}

.put-on-5 {
    padding-left: 10px;
}
.instruction-text {
    width: 300px;
    padding-left: 20px;
    padding-top: 20px;
    text-align: justify;
}

.instruction-row {
    display: flex;
    flex-direction: row;
}

.instruction-4 {
    width: 880px;
    margin: 20px 10px 50px 50px;
}

.instruction-5 {
    display: flex;
    flex-direction: row;
}
.instruction-text-1 {
    width: 380px;
}

.instruction-text-3, .instruction-text-4 {
    width: 820px;
}

.instruction-text-5 {
    width: 450px;
}

.put-on-3, .put-on-4, .put-on-5, .put-on-6 {
    border-style: none;
}

.put-on-5 {
    margin-right: 30px;
}

.put-on-6 {
    margin-left: 50px;
}
.put-on-7 {
    margin-right: 50px;
}

.take-off-2 {
    padding: 25px 0px 20px 15px;
}

.take-off-4 {
    height: 288px;
    width: 288px;
}

.multiple-images {
    display: flex;
    flex-direction: row;
    border-style: solid;
}

.multiple-images-2 {
    justify-content: center;
}

