body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-top: 100px;
    position: relative;
    z-index: 0;
}
/* Header */
header {
    display: flex;
    position: fixed;
    width: 100vw;
    z-index: 1;   
    border-style: solid;
    border-width: 1px;
    background: white;
}

nav {
    width: 100%;
}

nav ul, ul {
    display: flex;
    padding-inline-start: 0px;
}

.nav-row {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin-right: 10px;
}

nav ul li {
    padding-left: 5px;
    padding-right: 5px;
}

nav a {
    color: black;
    text-decoration: none;
}

.nav-logo {
    width: 109px;
    height: 40px;

}

.search-icon {
    width: 20px;
    height: 20px;
}

.hidden {
    display: none;
}

/* Footer */
footer {
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.address span {
    padding-top: 3px;
    padding-bottom: 3px;
}

.address, .policies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: 20px;
}

.policies a {
    color: black;
    padding-top: 6px;
    padding-bottom: 6px;

}
.logos {
    margin-top: 20px;
}
.logos img {
    width: 266px;
    height: auto;
}

.copyright {
    margin-block-start: 2px;
    margin-block-end: 2px;
}

/* Home */

.hero-section-logo {
    width: 562px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home-h1 {
    text-align: ce ter;
}