body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-top: 100px;
    position: relative;
    z-index: 0;
}
/* Header */
header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100vw;
    z-index: 1;   
    border-style: solid;
    border-width: 1px;
    background: white;
}

nav, nav ul, ul {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    padding-left: 5px;
    padding-right: 5px;
}

.nav-logo {
    width: 109px;
    height: 40px;

}


/* Footer */
footer {
    border-style: solid;
    border-width: 1px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.address, .policies {
    display: flex;
    flex-direction: column;
}

.logos img {
    width: 266px;
    height: auto;
}
