/* 
Colours
    Grey: 868585
    Blue/Green: 80BDBC
 */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100vw;
}

main {
    padding-top: 90px;
    position: relative;
    z-index: 0;
    font-size: 1.05rem;
    font-family: "IBM Plex Serif", "Times New Roman", serif;
    font-weight: 300;
    font-style: normal;
}

h1, h2 {
    font-family: "Merriweather", "Times New Roman", serif;
}

h1 {
    text-align: center;
    width: 100vw;
    color: #2a2a2a;
    margin-top: 20px;
    margin-bottom: 15px;
}

.h1-container {
    position: fixed;
    border-bottom: solid;
    border-width: 1px;
    border-color: #868585;
    background-color: white;
}

/* Header */

header {
    padding-top: 15px;
    display: flex;
    position: fixed;
    width: 100vw;
    z-index: 1;   
    border-width: 1px;
    background: white;
    font-family: "Merriweather", "Times New Roman", serif;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-nav-ul, .page-nav-ul {
    display: flex;
    padding-inline-start: 0px;
    align-items: center;
    list-style-type: none;
}

nav a {
    color: black;
    text-decoration: none;
}

.main-nav-ul {
    margin: 0px;
    margin-right: 30px;
    font-family: "Albert Sans", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

.main-nav-ul a {
    letter-spacing: 2px;
    color: white
}

.main-nav-ul li {
    height: 78px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #ffffff, #80bdbc38, #80bdbc6b, #80bdbcc7, #80BDBC, #80BDBC);
}


nav ul li {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-logo {
    width: 200px;
    padding-left: 10px;
    height: auto;
}

.logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-icon {
    width: 20px;
    height: 20px;
}

.hidden {
    display: none;
}

#search {
    padding: 20px 40px 20px 40px;
    display: flex;
    justify-content: center;
}

.search-input {
    border-bottom: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 0px;
    width: 500px;
    outline: none;
    transition: padding-bottom 0.3s ease;
    font-family: "Merriweather", "Times New Roman", serif;
}

.search-input:focus {
    padding-bottom: 10px;
}

.search-input-filled {
    padding-bottom: 10px;
}

.search-button {
    border-style: none;
    font-family: "Merriweather", "Times New Roman", serif;
    font-size: 1rem;
    background-color: white;
}

.mobile-home-nav-title {
    display: none;
}

/* Feedback Form */


.buttons {
    display: flex;
    justify-content: center;
}

form {
    width: auto 0;
    display: flex;
    justify-content: center;    
}

.question fieldset {
    border: none;
    padding: 0;
    margin: 0;
}


.question {
    display: flex;
    flex-direction: column;
    max-width: 520px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
}

textarea {
    width: 100%;
    height: 120px;
}

.required-message {
    text-align: right;
    margin: 0px 0px 5px 0px;
    color: red;
}
    /* Dynamic styling */

    .hidden {
        display: none;
    }
/* Footer */
footer {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-family: "Merriweather", "Times New Roman", serif;
    font-size: 0.8rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}



.address span {
    display: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

.address, .policies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: 20px;
}

.policies a {
    color: black;
    padding-top: 6px;
    padding-bottom: 6px;
}

.logos {
    margin-top: 20px;
}

.logos img {
    width: 266px;
    height: auto;
}

.copyright {
    margin-block-start: 2px;
    margin-block-end: 2px;
}

/* Home */

.mobile-nav-title {
    display: none;
}

.page-nav-ul {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    font-family: "Albert Sans", sans-serif;
    letter-spacing: 1.3px;

}

.hero-section-logo {
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home-h1 {
    text-align: center;
    margin: 0px;
    padding-top: 5px;
    color: #2a2a2a;
    font-weight: 400;
}

.ortho {
    color: #80BDBC;
    font-weight: 300;
}

.ped {
    color: #868585;
    font-weight: 300;
}

/* 
Colours
    Grey: 868585
    Blue/Green: 80BDBC
 */
.home-page {
    display: flex;
    flex-direction: column;
}

.home-page .overview, .home-page .history, .home-page .funding {
    display: flex;
    flex-direction: row;
}

.home-header {
    position: sticky;
    top: 90px;
    padding-top: 10px;
    padding-bottom: 3px;
    background-color: white;
    border-bottom: solid;
    border-width: 1px;
    border-color: #868585;
    z-index: 1;
}

section .images {
    display: flex;
    justify-content: center;
    width: 45%;
}

section .text-left {
    margin: 20px 40px 20px 60px;
    text-align: justify;
    width: 45%;
}

section .text-right {
    margin: 10px 60px 10px 40px;
    text-align: justify;
    width: 45%;
}

.image-placeholder {
    border-style: solid;
    width: 400px;
    height: 300px;
    margin-top: 30px
}

.image-placeholder-history {
    border-style: solid;
    width: 400px;
    height: 500px;
    margin-top: 30px
}

.image-placeholder p {
    text-align: center;
}

.history {
    align-self: flex-end;
}

.further-info {
    display: flex;
    flex-direction: column;
    margin-left: 270px;
    margin-right: 270px;
    align-self: center;
}

.further-info p {
    text-align: center;
    margin-top: 10px;
}

.further-info-h2 {
    text-align: center;
    margin-bottom: 10px;
}

.feet-image-container {
    display: flex;
    flex-wrap: nowrap; 
    gap: 10px; 
    width: 100%; 
    overflow: hidden; 
    z-index: 0;
}

.green-feet {
    width: 465px;
    height: auto; 
    opacity: 25%;
}

.home-scroll-target {
    scroll-margin-top: 200px;
}

/* User Guides */

.user-guides-header {
    position: fixed;
    width: 100vw;
    z-index: 2;   
    border-width: 1px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #868585;
    background: white;
}

#user-guides-intro {
    padding-top: 120px;
}

.user-guides-scroll-target {
    scroll-margin-top: 260px;
}

.bolder-font {
    font-weight: 400;
}

.user-guides-h1 {
    margin-bottom: 5px;
    margin-top: 23px;
}

#user-guides-intro, #put-on, #take-off, #videos {
    margin-left: 70px;
    margin-right: 70px;
}

.user-guides-nav li {
    padding-left: 10px;
    padding-right: 10px;
}

.instructions-list {
    margin: auto;
    max-width: 900px;

}

.instruction {
    display: inline-block;
    margin: 20px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.instruction-image {
    border-style: solid;
    border-color: black;
    padding: 8px;
    max-width: 300px;
    max-height: 300px;
}

.put-on-1 {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 400px;
}

.put-on-2 {
    padding-bottom: 22px;
    padding-top: 22px;
}

.put-on-3 {
    width: 400px;
}

.put-on-4 {
    padding-left: 30px;
    padding-right: 30px;
}

.put-on-5 {
    padding-left: 10px;
}
.instruction-text {
    width: 300px;
    padding-left: 20px;
    padding-top: 20px;
    text-align: justify;
}

.instruction-row {
    display: flex;
    flex-direction: row;
}

.instruction-5 {
    width: 880px;
    margin: 20px 10px 50px 50px;
}

.instruction-5 {
    display: flex;
    flex-direction: column;
}

.instruction-6 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.instruction-text-1 {
    width: 380px;
}

/* .instruction-text-3, .instruction-text-4 {
    width: 820px;
} */

.instruction-text-5 {
    width: 95%;
}


.put-on-5, .put-on-6 {
    border-style: none;
}

.put-on-5 {
    margin-right: 30px;
}

.put-on-6 {
    margin-left: 50px;
}
.put-on-7 {
    margin-right: 50px;
}

.take-off-2 {
    padding: 25px 0px 20px 15px;
}

.take-off-4 {
    height: 288px;
    width: 288px;
}

.multiple-images {
    display: flex;
    flex-direction: row;
    border-style: solid;
}

.multiple-images-2 {
    justify-content: center;
}

/* FAQS */

.questions {
    padding-top: 100px;
}

/* Contact Us */

.contact-us-content, .feedback-content {
    padding-top: 100px;
}

.darkening-effect {
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
    pointer-events: none;
}

/* Privacy Policy */


.privacy-policy-main {
    padding-top: 90px;
}

.privacy-policy-content {
    padding-top: 70px;
    margin: 0px 20px 0px 20px;
}

.rights-ul li{
    list-style: none;
    margin-top: 12px;
    margin-bottom: 12px;
}



/* Styling for mobile devices */

@media (max-width: 430px) {

    html, body {
        overflow-x: hidden;
    }

    main {
        padding-top: 270px;
    }

    h1 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.18rem;
    }

    p {
        font-size: 1.1rem;
    }


    /* Navigation bar */

    header {
        padding-top: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 1;
        box-shadow: 1px 1px 12px 3px #4c7473;   
    }

    .logo-area {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .nav-logo {
        padding: 0;
        align-self: center;
    }

    .main-nav-ul {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        margin: 0;
        padding-bottom: 5px;

    }

    .nav-row {
        display: flex;
        flex-direction: column;
        background: linear-gradient(to bottom, #ffffff, #ffffff,#ffffff,#ffffff,#80bdbc1e,#80bdbc88, #80bdbc, #71b4b2f6);
    }

    .mobile-nav-title {
        display: contents;
        display: flex;
        align-self: center;
        margin-top: 0;
    }

    .ortho {
        padding-left: 5px;
    }

    .ped {
        padding-right: 5px;
    }
    
    .main-nav-ul li {
        height: 20px;
    }

    .mobile-home-nav-title {
        display: initial;
        font-family: "Merriweather", "Times New Roman", serif;
        font-size: 1.2rem;
        font-weight: 500;
        margin: 10px 0px 0px 0px;
        text-align: center;
        /* color:#595757; */
    }
    

    /* Footer */

    footer .row {
        display: flex;
        flex-wrap: wrap;
    }

    footer .row div {
        flex: 0 1 30%;         
        margin: 10px;
    
    }

    .policies {
       display: flex;
       align-items: center;
    }
    .home-header {
        display: flex;
        flex-direction: column;
        margin-top: 63px;
        position: fixed;
        border-color: #b2b2b2;
        padding-bottom: 0;
    }

    .home-header ul, .user-guides-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    .home-header a, .user-guides-nav a {
        font-size: 0.8rem;
    }

    .user-guides-nav {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 3px;
    }

    /* Home */

    .page-nav-ul {
        padding-top: 0;
    }

    .home-scroll-target {
        scroll-margin-top: 260px;
    }

    .hero-section-logo {
        display: none;
    }

    .home-h1 {
        display: none;
    }
    
    .overview {
        width: 100%;
        margin-top: 15px;
    }

    section .images, .image-placeholder, .image-placeholder-history {
        display: none;
    }

    section .text-left, section .text-right {
        margin: 0px 20px 0px 20px;
        width: 100%;
    }

    .further-info {
        margin: 0px 20px 0px 20px;
    }

    .green-feet {
        width: 330px;
        height: auto; 
        opacity: 25%;
    }

    /* User Guides */

    .user-guides {
        padding-top: 150px;
    }

    .user-guides-scroll-target {
        scroll-margin-top: 295px;
    }

    #user-guides-intro {
        padding-top: 130px;
    }

    #user-guides-intro, #put-on, #take-off, #videos {
        margin: 0px 30px 0px 30px;
    }

    #user-guides-intro p, #user-guides-intro li, #put-on li, #take-off li {
        text-align: justify;
    }

    .instruction {
        padding: 10px 5px 10px 5px;
    }

    #put-on .instruction-1, #put-on .instruction-3, #take-off .instruction-1, #take-off .instruction-3 {
        margin-right: 10px;
    }

    #put-on .instruction-2, #put-on .instruction-4, #take-off .instruction-2, #take-off .instruction-4 {
        margin-left: 10px;
    }

    .instruction-text {
        margin: 10px 0px 15px 0px;
    }

    #put-on .instruction-text-6 {
        margin: 0px 15px 15px 40px;
    }

    #put-on .instruction-text-5 {
        margin: 10px 10px 15px 20px;
        width: 93%;
    }

    #put-on ol, #take-off ol {
        padding: 0;
        margin: 0;
    }

    .instructions-list li, .instructions-list ol li {
        width: 150px;
        padding: 0;
    }

    #put-on img, #take-off img {
        width: 130px;
    }

    .instruction {
        margin: 0;
        justify-content: flex-start;
        max-width: 100%;
    }

    .instruction-row {
        justify-content: space-around;
        max-width: 100%;
    }

    .put-on-4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .put-on-5, .put-on-6, .put-on-7 {
        height: 150px;
        margin: 0;
    }

    .take-off-4 {
        max-height: 150px;
    }

    .instructions-list {
        width: 100%;
    }

    /* Feedback */

    .feedback-main {
        padding-top: 160px;
    }

    .feedback-main h1 {
        margin: 15px 0px 10px 0px;
    }

    .feedback-content {
        padding-top: 70px;
    }

    .feedback-intro {
        text-align: justify;
        margin: 0px 20px 29px 20px;
    }

    .question {
        max-width: 280px;
    }

    /* FAQ */

    .faqs-main {
        padding-top: 160px;
    }

    .faqs-main h1 {
        margin: 15px 0px 10px 0px;
    }

    .faqs-main .questions {
        padding-top: 50px;
        margin: 0px 20px 0px 20px;
    }

    .faqs-main h2 {
        padding-top: 10px;
    }

    /* Contact Us */

    .contact-us-main {
        padding-top: 120px;
    }

    .contact-us-h1 h1 {
        margin: 15px 0px 10px 0px;
    }

    .contact-us-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .contact-us-content p {
        text-align: justify;
        width: 90%;
    }

    #contact-form {
        flex-direction: column;
        width: 90%;
        margin-bottom: 20px;
    }

    #contact-form fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contact-form .question {
        width: 80%;
    }

    #contact-form p {
        margin: 5px 0px 5px 0px;
        /* text-align: end; */
    }


}